.linear-gradient{
    background-image: linear-gradient(rgb(48, 93, 208),rgb(173, 173, 173),rgb(253, 191, 201));
}


/* CSS for the gradient animation on hover */
.card:hover {
    animation: moveImage 5s infinite;
  }
  
  /* Keyframes for the gradient animation */
  @keyframes moveImage {
    0% {
      background-position: 0% 50%;
    }
    100% {
      background-position: 100% 50%;
    }
  }

  .foot{
    background-color: wheat;
  }
  .bin{
    width: 150px;
    height: 100px;
    padding: 10px;
  }
  .big{
    width: 3rem;
    height: 3rem;
  }


  